[Unit]
Description=Kafka Broker
Documentation=https://kafka.apache.org/documentation/
Requires=network.target
After=network.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=KAFKA_HEAP_OPTS="-Xms2g -Xmx2g"
Environment=LOG_DIR=/opt/kafka/logs
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
StandardOutput=file:/opt/kafka/logs/kafka-systemd-server.log
StandardError=file:/opt/kafka/logs/kafka-systemd-server.log
Restart=on-failure

[Install]
WantedBy=default.target