[Unit]
Description=Airflow scheduler
After=network.target
Wants=network.target

[Service]
Type=simple
User=airflow
Group=airflow
Environment=AIRFLOW_HOME=/opt/airflow
ExecStart=/bin/bash -c 'source /opt/miniconda3/bin/activate airflow && $(which airflow) scheduler --pid /run/airflow/scheduler.pid'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
StandardOutput=file:/opt/airflow/logs/systemd/scheduler.log
StandardError=file:/opt/airflow/logs/systemd/scheduler.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
