[Unit]
Description=Airflow webserver
After=network.target
Wants=network.target

[Service]
Type=simple
User=airflow
Group=airflow
RuntimeDirectory=airflow
RuntimeDirectoryMode=0775
Environment=AIRFLOW_HOME=/opt/airflow
ExecStart=/bin/bash -c 'source /opt/miniconda3/bin/activate airflow && $(which airflow) webserver --pid /run/airflow/webserver.pid'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
StandardOutput=file:/opt/airflow/logs/systemd/webserver.log
StandardError=file:/opt/airflow/logs/systemd/webserver.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
