files:
  "/etc/yum.repos.d/elastic.repo" :
      mode: "000755"
      owner: root
      group: root
      content: |
        [elastic-6.x]
        name=Elastic repository for 6.x packages
        baseurl=https://artifacts.elastic.co/packages/6.x/yum
        gpgcheck=1
        gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
        enabled=1
        autorefresh=1
        type=rpm-md

  "/tmp/filebeat_config.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      sudo rpm --import https://packages.elastic.co/GPG-KEY-elasticsearch
      yum install filebeat -y
      chkconfig --add filebeat
      mv /tmp/filebeat.yml /etc/filebeat/filebeat.yml
      service filebeat restart

